* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    padding: 0 10px;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

section {
  display: block;
}

/* ================ Header ================= */

.header {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.menu-wrapper {
  background-color: #cccccc;
  width: 100%;
  min-height: 70px;
  position: relative;
  display: flex;
}

.margin {
  flex: 0 0 260px;
}

.nav {
  width: min(1140px, 100%);
  display: block;
  /* margin-left: min(300px, max(0px, calc(100% - 1140px))); */
  padding: 25px 10px 25px;
}

.nav-list {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-list li {
  margin: 0;
}

.nav-link {
    flex: 0 0 16%;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
  }

.nav-link:hover {
    color: #777;
}

.person {
    display: flex;
    align-items: center;
    background-color: black;
}

.person-photo {
    flex: 0 0 20%;
    width: min(220px, 47.8vw);
    height: min(220px, 47.8vw);
    padding: 10px;
}

.person-photo img {
    width: min(200px, 43.48vw);
    height: min(200px, 43.48vw);
    border-radius: 50%;
    border: 5px solid white;
    filter: grayscale(100%);
}

.person-name {
  flex: 0 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-name h1 {
    color: white;
    font-size: min(40px, 7.6vw);
    font-weight: 500;
}

/* ================ Main ================= */

.main {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.contacts-area {
  background-color: #cccccc;
  flex: 0 0 260px;
  padding: 20px 10px 10px 5px;
}

.contacts-caption {
  text-align: center;
  margin-bottom: 25px;
}

.info-container {
  flex: 0 1 1180px;
  padding: 20px 10px 10px;
}

.item {
  border-bottom: 2px solid;
  border-color: #000000;
  margin-bottom: 20px;
}

.item:last-child {
  border-bottom: none;
}

.item-caption {
  margin-bottom: 20px;
}

.item-text {
  margin-bottom: 10px;
}

.list {
  padding-left: 25px;
  margin-bottom: 1em;
}

.list li {
  margin-bottom: 1em;
}

.code-wrapper {
  font-size: min(18px, 3.8vw);
}

pre {
  margin-bottom: 20px;
}

.subitem {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.item-subcaption {
  margin-bottom: 10px;
}

.zero {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

/* ================ Footer ================= */

.footer {
  max-width: 1280px;
  min-height: 60px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc;
  border-top: solid 2px;
}

.footer-left {
    flex: 0 1 33%;
    text-align: left;
    padding-left: 30px;
}

.footer-center {
  flex: 0 1 33%;
  text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.footer-right {
  flex: 0 1 33%;
  text-align: right;
    padding-right: 30px;
}

.github-icon {
  width: 30px;
  height: 30px;
}

.rsschool-icon {
  width: 70px;
  height: 30px;
}

/* ================ Burger ================= */

@media screen and (max-width: 940px) {

  .nav {
    width: 225px;
    height: 300px;
    margin-right: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #cccccc;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    z-index: 10;
    transform: translateX(300%);
    transition: 0.2s all linear;
  }
  
  .nav-list {
    list-style: none;
    width: 205px;
    height: 200px;
    margin-top: 44px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav-link {
    display: block;
    text-align: left;
  }

/* ======================================== */

  .burger {
    width: 40px;
    height: 35px;
    position: absolute;
    top: 18px;
    right: 15px;
  }

  .burger:hover {
    cursor: pointer;
  }

  .burger-line {
    display: block;
    position: absolute;
    left: 4px;
    width: 26px;
    height: 2.67px;
    border-radius: 2px;
    background-color: black;
  }

  .burger-line-first {
    top: 8px;
  }

  .burger-line-second {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-line-third {
    bottom: 8px;
  }
  
  .nav.active {
    transform: translateX(0);
  }


/* ======================================== */

  .nav-cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 11;
  }

  .nav-cross:hover {
    cursor: pointer;
  }

  .nav-cross-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
  }

  .nav-cross-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .nav-cross-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

}

/* ================ Adaptive ================= */

@media screen and (max-width: 712px) {
  main {
    flex-direction: column;
  }   

  .contacts-area {
    flex-basis: content;
  }

}
