* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    padding: 0 10px;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: Helvetica, Arial, sans-serif
}

h2 {
  font-size: 24px;
}

section {
  display: block;
}

/* ================ Header ================= */

.header {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.menu-wrapper {
  background-color: #cccccc;
  width: 100%;
}

.nav {
  width: min(1140px, 100%);
  display: block;
  margin-left: min(300px, max(0px, calc(100% - 1140px)));
  padding: 20px 10px 25px;
}

.nav-list {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-list li {
  margin: 0;
}

.nav-link {
    flex: 0 0 16%;
    color: #000000;
    font-size: 1.2em;
}

.nav-link:hover {
    color: blue;
}

.person {
    display: flex;
    align-items: center;
    background-color: black;
}

.person-photo {
    flex: 0 0 20%;
    width: min(220px, 47.8vw);
    height: min(220px, 47.8vw);
    padding: 10px;
}

.person-photo img {
    width: min(200px, 43.48vw);
    height: min(200px, 43.48vw);
    border-radius: 50%;
    border: 5px solid white;
    filter: grayscale(100%);
}

.person-name {
  flex: 0 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-name h1 {
    color: white;
    font-size: min(40px, 7.6vw);
    font-weight: 500;
}

/* ================ Main ================= */

.main {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.contacts-area {
  background-color: #cccccc;
  flex: 0 0 260px;
  padding: 10px;
}

.contacts-caption {
  text-align: center;
  margin-bottom: 25px;
}

.info-container {
  flex: 0 1 1180px;
  padding: 20px 10px 10px;
}

.item {
  border-bottom: 2px solid;
  border-color: #000000;
  margin-bottom: 20px;
}

.item:last-child {
  border-bottom: none;
}

.item-caption {
  margin-bottom: 20px;
}

.item-text {
  margin-bottom: 10px;
}

.list {
  padding-left: 25px;
  margin-bottom: 1em;
}

.list li {
  margin-bottom: 1em;
}

.code-wrapper {
  font-size: min(18px, 3.8vw);
}

.subitem {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.item-subcaption {
  margin-bottom: 10px;
}

/* ================ Footer ================= */

.footer {
  max-width: 1440px;
  min-height: 60px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc;
  border-top: solid 2px;
}

.footer-left {
    flex: 0 1 33%;
    text-align: left;
    padding-left: 30px;
}

.footer-center {
  flex: 0 1 33%;
  text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.footer-right {
  flex: 0 1 33%;
  text-align: right;
    padding-right: 30px;
}

/* ================ Adaptive ================= */

@media screen and (max-width: 712px) {
  main {
    flex-direction: column;
  }   

  .contacts-area {
    flex-basis: content;
  }
}
