* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    padding: 0 10px;
}

h1,
h2,
h3 {
    font-family: Helvetica, Arial, sans-serif
}

.header {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.menu-wrapper {
  background-color: #cccccc;
  width: 100%;
}

.nav {
  width: min(1140px, 100%);
  display: block;
  margin-left: min(300px, max(0px, calc(100% - 1140px)));
  padding: 20px 10px 25px;
}

.nav-list {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-list li {
  margin: 0;
}

.nav-link {
    flex: 0 0 16%;
    color: #000000;
    font-size: 1.2em;
}

.nav-link:hover {
    color: blue;
}

.person {
    display: flex;
    align-items: center;
    background-color: black;
}

.person-photo {
    flex: 0 0 20%;
    width: min(220px, 47.8vw);
    height: min(220px, 47.8vw);
    padding: 10px;
}

.person-photo img {
    width: min(200px, 43.48vw);
    height: min(200px, 43.48vw);
    border-radius: 50%;
    border: 5px solid white;
    filter: grayscale(100%);
}

.person-name {
  flex: 0 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-name h1 {
    color: white;
    font-size: min(40px, 7vw);
    font-weight: 500;
}

.left2 {
    width: 20%;
    background-color: #cccccc;
}

.left2 h2 {
    padding-left: 30px;
}

.right2 {
    width: 80%;
    padding-left: 20px;
}

.right1 h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
}


.part {
    width: 30%;
}

.myname {
    padding-top: 65px;
}

.caption {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #000000;
}

li {
    margin-bottom: 1em;
}

.item {
    border-bottom: 2px solid;
    border-color: #000000;
    padding-bottom: 5px;
}

.footer {
    display: flex;
    background-color: #cccccc;
    border-top: solid 2px;
}

.footer-left {
    width: 33%;
    text-align: left;
    padding-left: 30px;
    padding-top: 12px;
}

.footer-center {
    width: 33%;
    text-align: center;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.footer-right {
    width: 33%;
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}