body {
    /* Как прижать footer к низу страницы */
    min-height: 100vh; /* минимальная высота body не может быть меньше высоты страницы */
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Цель достигнута, footer прижат к низу страницы. */
    font-family: Georgia, "Times New Roman", serif;
  }
